<a class="menu-anchor" id="{{ .LinkTitle }}"></a>
<div id="client-ads-container" class="frontpageads item">
  {{ $advertisements := site.GetPage "Advertisments" }}
  {{ if $advertisements }}
    {{ range $advertisements.RegularPages.ByWeight }}
      {{ $adstitle := .LinkTitle }}
      {{ $adurl := .RelPermalink }}   
      {{ $adlink := .Params.link }}   
      {{ $finalurl := "" }}
      {{ if $adlink }}
        {{ $finalurl = $adlink }}
      {{ else }}
        {{ $finalurl = $adurl }}
      {{ end }}
      
      {{ $adId := lower .LinkTitle | replaceRE "[^a-z0-9]+" "-" | replaceRE "(^-|-$)" "" }}
      
      <section id="menu-ad-{{ $adId }}" class="ads menu-ad sticky" data-ad-title="{{ $adstitle }}" data-ad-url="{{ $finalurl }}">
        <div class="scroll-progress-bar">
          <div class="scroll-progress-fill"></div>
        </div>
        <h2 class="center title clientad-heading" data-aos="zoom-out" data-aos-offset="10">
          <a href="{{ $finalurl }}">{{ $adstitle }}</a>
        </h2>
        <span data-aos="zoom-out-right">Promotion</span>
        <ul class="inner" data-aos="zoom-out-up" data-aos-duration="10" data-aos-offset="0" data-aos-easing="ease-in-sine">
          {{ range .Params.images }}
            <li class="ad-panel" data-ad-title="{{ $adstitle }}" data-ad-url="{{ $finalurl }}">
              <a href="{{ $finalurl }}" class="content-panel">
                <img src="{{ site.BaseURL }}{{ .image }}" class="ad-portrait-bg">
                <img src="{{ site.BaseURL }}{{ .image }}" class="ad-portrait">
                <div class="adbottomspacer"></div>
              </a>
            </li>
          {{ end }}
        </ul>
      </section>
    {{ end }}
  {{ end }}
  <section class="ads menu-ad sticky" style="height: 100vh; min-height: 0; background: none; border: none;"></section>
</div>


