<a class="menu-anchor " id="{{ .LinkTitle }}"></a>
<div id="client-ads-container" class="frontpageads item">
  {{ range .RegularPages.ByWeight }}
  <h2 class="center title clientad-heading" data-aos="zoom-out" data-aos-offset="10"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  <section id="clientad">
    <span data-aos="zoom-out-right">Promotion</span>
    <ul class="inner" data-aos="zoom-out-up" data-aos-duration="10" data-aos-offset="0" data-aos-easing="ease-in-sine">
      {{ $adstitle := .LinkTitle }}
      {{ $adurl := .RelPermalink }}   
      {{ $adlink := .Params.link }}   
      {{ range .Params.images }}
        <li class="ad-panel">
          <a href="{{ $adurl }}" class="content-panel">
          <img src="{{ site.BaseURL}}/{{ .image }}" class="ad-portrait-bg">
          <img src="{{ site.BaseURL}}/{{ .image }}" class="ad-portrait">
          <div class="adbottomspacer"></div>
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
</div>


