<div id="pageadscontainer" class="frontpage-hero">
  <section id="landing" >
    <ul class="inner" style="background-size: 300px !important; background-repeat: repeat !important;">
      <li class="ad-panel">
        <div class="content-container">
          <h1>Welcome to TTMenus</h1>
          <p>Find your <strong>Food</strong>.</p>
          <!-- <input id="search" placeholder="Search" onfocus="openMap();"> -->
          <ul class="taxonomy-links">
            {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
              <li><a href="{{ $taxonomy.Page.RelPermalink }}">{{ $name }}</a></li>
            {{ end }}
          </ul>
        </div>
      </li>
      <li class="ad-panel" style="background:#00000066" href="#">
        <span>Sponsored</span>
        <div class="content-container">
          <h1>Join Our Directory</h1>
          <p>Add your location to <strong>TTMenus</strong>.</p>
          <button>Join</button>
        </div>
      </li>
      <li class="ad-panel" style="background:#000000aa" href="#">
        <span>Sponsored</span>
        <div class="content-container">
          <h1>Advertise on TTMenus</h1>
          <p>Link to <strong>Anything</strong>.</p>
          <button>Click Me</button>
        </div>
      </li>
    </ul>
  </section>
</div>