<div id="frontpage-ads-container" class="frontpageads item">
  <section id="clientad">
    <div class="scroll-progress-bar">
      <div class="scroll-progress-fill"></div>
    </div>
    <ul class="inner" data-aos="zoom-out-up" data-aos-duration="10" data-aos-offset="0" data-aos-easing="ease-in-sine">
      <!-- <li class="ad-panel" >
        <span data-aos="zoom-out-right">Sponsored</span>
        
        
        <img src="https://www.ttmenus.com/images/ttms_ad.webp" class="ad-portrait-bg">

        
        <video class="ad-portrait .ad-video" autoplay muted loop playsinline>
          <source src="https://www.ttmenus.com/images/ad1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="ad-panel" onclick="window.open('https://islandetickets.com/event/Atherlysafterdark?fbclid=PAQ0xDSwLZQJNleHRuA2FlbQIxMQABpxes8X0qB2xCS4W3KWxTFQpA1Lpf7UVq1A_YfwIj272EDpYbNsE68pHWmrgf_aem_ypxBiLhdGStxChmWNm3gcg', '_blank');">
        <span data-aos="zoom-out-right">Sponsored</span>
          
        <img src="https://www.ttmenus.com/images/ttms_ad.webp" class="ad-portrait-bg">

        
        <video class="ad-portrait .ad-video" autoplay muted loop playsinline>
          <source src="https://www.ttmenus.com/images/ad2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </li> -->
      <li class="ad-panel" onclick="window.open('https://www.whatsapp.com/catalog/18683645662/?app_absent=0', '_blank');">
        <span data-aos="zoom-out-right">Sponsored</span>
        <img src="https://www.ttmenus.com/images/ad3.jpg" class="ad-portrait-bg">
        <img src="https://www.ttmenus.com/images/ad3.jpg" class="ad-portrait">
      </li>
    </ul>
  </section>
</div>

