{{ if site.Params.ads.enabled }}
{{- $noCompetitor := false -}}
{{- with site.Params.features -}}
  {{- $noCompetitor = default false .no_competitor_ads -}}
{{- end -}}
<div id="pageadscontainer" class="frontpageads item"
     data-client-id="{{ site.Params.ads.clientId }}"
     data-ads-service-url="{{ site.Params.adsServiceUrl }}"
     data-menu-url="{{ site.BaseURL }}"
     data-no-competitor-ads="{{ $noCompetitor }}">
  <section class="ads menu-ad sticky">
    <div class="scroll-progress-bar" aria-hidden="true">
      <div class="scroll-progress-fill"></div>
    </div>
    <ul class="inner" id="ads-list" data-aos="zoom-out-up" data-aos-duration="10" data-aos-offset="0" data-aos-easing="ease-in-sine">
      <!-- Ads loaded from ads.ttmenus.com via ads-client.js -->
    </ul>
  </section>
  <section class="ads menu-ad sticky menu-ad-scroll-end" aria-hidden="true"></section>
</div>
{{ end }}
