<div id="accessibility" class="hide">
	<!--a id="btn_install1" class="hide" onclick="playContact();" data-aos="zoom-in" data-aos-anchor="#home">Install App <i class="fa fa-download"></i></a>
	<!--a id="btn_font" class="" onclick="playContact();" data-aos="zoom-in" data-aos-anchor="#home">Font Size <i class="fa fa-pencil"></i></a-->
	<a id="btn_soundoff" class="hide" onclick="toggleSound();" data-aos="zoom-in" data-aos-anchor="#home">Sound Off <i class="fa fa-volume-off"></i></a>
	<a id="btn_soundon" class="" onclick="toggleSound();" data-aos="zoom-in" data-aos-anchor="#home">Sound On <i class="fa fa-volume-up"></i></a>
</div>