<div id="footerSettings" class="hide">
	<div class="settings-panel">
		<!-- Login Button -->
		<a href="/login" class="btn settings-btn" data-aos="zoom-in">
			<i class="fa fa-user"></i> Login
		</a>
		
		<!-- Sound Toggle
		<a id="btn_soundoff_settings" class="btn settings-btn hide" onclick="toggleSound();" data-aos="zoom-in">
			<i class="fa fa-volume-off"></i> Sound Off
		</a>
		<a id="btn_soundon_settings" class="btn settings-btn" onclick="toggleSound();" data-aos="zoom-in">
			<i class="fa fa-volume-up"></i> Sound On
		</a> -->
	</div>
</div>

