<div id="menu-reels-item-modal" class="menu-reels-item-modal" hidden aria-hidden="true" role="dialog" aria-modal="true" aria-labelledby="menu-reels-item-modal-title">
  <div class="menu-reels-item-modal__backdrop" data-close-reels-item-modal tabindex="-1"></div>
  <div class="menu-reels-item-modal__panel">
    <header class="menu-reels-item-modal__header">
      <h2 id="menu-reels-item-modal-title" class="menu-reels-item-modal__title">
        <a href="#" class="menu-reels-item-modal__title-link"></a>
      </h2>
      <button type="button" class="menu-reels-item-modal__close" aria-label="Close" data-close-reels-item-modal>
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </header>
    <div class="menu-reels-item-modal__body">
      <div class="menu-reels-item-modal__loading menu-item-expanded-loading">
        <div class="loading-spinner"></div>
        <div class="loading-text">Loading...</div>
      </div>
      <div class="menu-reels-item-modal__data menu-item-expanded-data"></div>
    </div>
  </div>
</div>
