<!-- ORDER MODAL -->
<div id="ttmenusModal" class="cart-hidden">
	<div class="container">
		<div id="ttmsmodal">
			<div class="header">
				<a  href="https://www.ttmenus.com/" target="_blank">
					<img class="logo" src="https://ct.ttmenus.com/branding/ttmenus/icon-144.png" >
				</a>
				<a  class="close" onclick="closeTTMS();">
					<img class="icon center" src="https://ct.ttmenus.com/icons/utilities/close.svg"-->
				</a>
			</div>
			<h3 class="title">Ads & Offers</h3>
			<div id="adsContainer">
				<div>Welcome to TTMenus</div>
			</div>
			
		</div>
	</div>
</div>