{{ partial "modals/table_select_modal.html" . }}

<div id="footer" >
	{{ partial "modals/ttmenus_modal.html" . }}
	{{ partial "components/cart.html" . }}
	{{ partial "components/settings.html" . }}
	<!--Cart Short COde-->

	<!--accessibility Short COde-->
	
		<div id="footerBtns" class="grad2">
			<div>
				<a onclick="toggleTTMS();" target="_blank" ><b id="adcount" class="hide">0</b><img class="icon center" src="https://cdn.ttmenus.com/icons/utilities/home.svg" alt="Home" loading="lazy"></a> | <a onclick="toggleCart();"><b id="cartcount" class="hide">0</b><img id="carticon" class="icon center" src="https://cdn.ttmenus.com/icons/utilities/cart0.svg" alt="Shopping cart" loading="lazy"></a> | <a onclick="toggleSearch();"><img class="icon center" src="https://cdn.ttmenus.com/icons/utilities/search.svg" alt="Search" loading="lazy"></a> | <a onclick="toggleFooterAccessibility();"><img class="icon center" src="https://cdn.ttmenus.com/icons/utilities/settings.svg" alt="Settings" loading="lazy"></a>
			</div>
		</div>
</div>