.adbottomspacer{
    height: 4.8em;
}
.content-panel{
    display: flex;
    height: -webkit-fill-available !important;
    width: -webkit-fill-available !important;
}
#pageadscontainer{
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: #000;
}#pageadscontainer .scrollmagic-pin-spacer{
    scroll-snap-align:start;
}
#pageadscontainer span{
    right: .8em;
    position: absolute;
    top: 1.2em;
    background: linear-gradient(#000000, #222222aa);
    border: .2em solid #fefefe55;
    color: #fff;
    padding-inline:.4em;
    padding-block-end: .2em;
    border-radius: 3em;
    font-size: xx-small;
    font-weight: 700;
    z-index: 2;
}
#pageadscontainer h1 {
    margin: 0;
    text-align: center;
    position: relative;
}

#pageadscontainer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5); /* transparentize($white, 0.5) */
}

#pageadscontainer strong {
    color: #ffffff;
}

#pageadscontainer section, #clientad {
    height: calc(100dvh - 4em);
    color: white;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px 1px #00000055;
    background: var(--main-bg);
    width: -webkit-fill-available !important;
    min-width: -webkit-fill-available !important;
    max-width: -webkit-fill-available !important;
    border: 1px solid var(--main-bg);
}
#pageadscontainer section .inner, #clientad .inner{
    margin: 0 auto;
    width: -webkit-fill-available !important;
    min-width: -webkit-fill-available !important;
    max-width: -webkit-fill-available !important;
    min-height: calc(100dvh);
    transition: all 0.4s;
    background-repeat: no-repeat !important;
    background-position: top center !important;
    background-size: cover!important;
    backdrop-filter: blur(5px);
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
}
#pageadscontainer ul,
#clientad ul{
    list-style: none;
    font-variant-caps: petite-caps;
}
#pageadscontainer .taxonomy-links li a,
#clientad .taxonomy-links li a{
    padding-block: .1em .5em;
    padding-inline: .8em;
    background: #fefefe;
    border-radius: 3em;
    display: flex;
    color: #000000;
    border: 1px solid #00000055;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-wrap-mode: nowrap;
    font-size: smaller;
}

#pageadscontainer section .inner .ad-panel, #clientad .inner .ad-panel{
    width: 100dvw;
    height: calc(100dvh - 4em);
    left: 0px;
    position: relative;
    flex: 0 0 auto;
    display: flex;
    scroll-snap-align: start;
    text-decoration: none;
    flex-direction: column;
    justify-content: flex-end;
    transition: height 0.33s ease-in-out, transform 0.33s ease;
}
#pageadscontainer section .inner .ad-panel img, #clientad .inner .ad-panel img{

height: calc(100dvh - 4em) !important;

width: 100dvw;

max-width: -webkit-fill-available;

margin-inline:  auto !important;

object-fit: cover;

position: absolute;

left: 0;

top: 0;

transition: height 0.33s ease-in-out, transform 0.33s ease;

}
#pageadscontainer section .inner .ad-panel h1 , 
#pageadscontainer section .inner .ad-panel p,
#clientad .inner .ad-panel h1,
#clientad .inner .ad-panel p,
#pageadscontainer .inner .ad-panel button,
#clientad .inner .ad-panel button{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    color: #fefefe;
    border: none;
    width: -webkit-fill-available;
    text-align: center;
}
#pageadscontainer .inner .ad-panel button,
#clientad .inner .ad-panel button{
    position: relative;
    z-index: 1;
    padding: 2em;
    top: 0;
    left: 0;
    margin: .4em;
    color: #fefefe;
    border: none;
    background: #aa1;
    max-width: 366px;
    margin-inline: auto;
}
#pageadscontainer section#one {
}

#pageadscontainer section#two {
}

#pageadscontainer section#three {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

#pageadscontainer section#four {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #000000;
}

#pageadscontainer section#four.is-active .inner {
    background-color: #222222dd;
}
