<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  {{ partial "loader.html" . }}
  {{ partial "askofserver.html" . }}
  <div data-barba="wrapper">
    <div data-barba="container" data-barba-namespace="{{ .Title }}">
      <header>
        {{ partial "header.html" . }}
      </header>
      {{ partialCached "ttms-dashboard/dashboard.html" . }}
      {{ partial "search.html" . }}
      <main id="main">
        {{ block "main" . }}{{ end }}
        
      </main>
      <div class="bottomads">
          {{ partial "ads/frontpageads.html" . }}
      </div>
        {{ partial "client/openinghours.html" . }}
    </div>
  </div>

  <footer>
    {{ partial "order_modal.html" . }}
    {{ partial "footer.html" . }}
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- unpkg -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/jquery.ScrollMagic.min.js"></script>

  <script src="{{ site.BaseURL}}js/app.js"></script>
  <!-- <script src="{{ site.BaseURL}}/js/test.js"></script> -->
  <script src="{{ site.BaseURL}}js/custom.js"></script> 
  <script src="{{ site.BaseURL}}js/ads-sticky.js"></script> 

  <script src="https://ct.ttmenus.com/js/askforserver.js"></script>
  <script src="https://ct.ttmenus.com/js/cart.js"></script>
  <script src="https://ct.ttmenus.com/js/search.js"></script>

  <!--script src="https://ct.ttmenus.com/js/order_system.js"></script-->
  <!--script src="https://ct.ttmenus.com/js/script.js"></script>
  <script src="https://ct.ttmenus.com/js/wapos.js"></script-->

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- jsdelivr -->
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="{{ site.BaseURL}}js/loader.js"></script>
      <script src="{{ site.BaseURL}}js/client-ad-manager.js"></script>
  <script src="{{ site.BaseURL}}js/aos.js"></script>
  <script src="{{ site.BaseURL}}js/scrollmagic.js"></script>
  {{ partial "whatsapp_ordering_system.html" . }}
  <script src="{{ site.BaseURL}}js/openinghours.js"></script>
  <script src="{{ site.BaseURL}}js/section-scroll.js"></script>

</body>
</html>
