{{ define "main" }}
  <div class="hero_logo_container item">
  {{ if .Params.image }}
    <img id="bg" src="{{ .Params.image }}" alt="{{ site.Title }} background" fetchpriority="high">
  {{ else }}
    <img id="bg" src="/main/bg.webp" alt="{{ site.Title }} background" fetchpriority="high">
  {{ end }}
  <div class="logo_container">
    <a href="#openhours"><img id="logo" src="/branding/favicon512.webp" alt="{{ site.Title }} logo" width="512" height="512"></a>
  </div>
  </div> 
  {{ partial "components/contact_info.html" . }}
  <div class="hero-content">
    {{ .Content }}
    {{ partial "client/clienttourimages.html" . }}
    {{ partial "socialmedia/share-button.html" . }}
    
  </div>
  {{ range site.Pages.ByWeight }}
    {{ if and (not .IsPage) (not .IsHome)}}
      {{ $title:= .LinkTitle }}
      {{ $titleurl := .RelPermalink }}
      {{ if not (or (in $titleurl "admins") (in $titleurl "admin")) }}
        {{ if eq $title ("Advertisments") }}
          <h2 id="{{ $title }}" class="center title item" data-aos="zoom-out-right" data-aos-offset="50">
            <a href="{{ $titleurl }}">{{ $title }}</a>
          </h2>
          {{ partial "ads/homepageclientads.html" . }} 
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ partial "ads/frontpageads.html" . }}
  <div class="main-body">
  {{ range site.Pages.ByWeight }}
    {{ if and (not .IsPage) (not .IsHome)}}
      {{ $title:= .LinkTitle }}
      {{ $titleurl := .RelPermalink }}  
      {{ if ne $title ("Advertisments") }}
        {{ if .RegularPages }}
          {{ if not (or (in $titleurl "tags") (in $titleurl "categories") (in $titleurl "subcategories") (in $titleurl "types") (in $titleurl "events") (in $titleurl "ingredients") (in $titleurl "cookingmethods") (in $titleurl "admins") (in $titleurl "admin")) }}
              <div class="main-menu-bg {{ .LinkTitle }}">
                <div class="main-menu {{ .LinkTitle }} item">
                  <div class="menu-header">
                    <a class="menu-anchor" id="{{ .LinkTitle }}"></a>
                    {{ if .Params.image }}
                      <a  href="{{ .RelPermalink }}"><img class="food item aos-init aos-animate" data-aos="zoom-out" src="{{ .Params.image }}" alt="{{ .LinkTitle }}" loading="lazy"></a>
                    {{ end }}
                    <div class="headerstyle item" >
                      <h2 class="center title" data-aos="zoom-out-right" data-aos-offset="50">
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                        {{ if .Params.slidein }}
                          <img class="slideinimg aos-init aos-animate" data-aos="zoom-out-{{ .Params.slidein.direction }}" src="{{ .Params.slidein.slideinimage }}" alt="{{ .LinkTitle }} decoration" loading="lazy">
                        {{ end }}
                      </h2>
                      
                    </div>
                    <div class="menu-summary item">
                      {{ .Summary }}
                    </div>
                  </div>
                  <table class="menu">
                    <tbody>
                      {{ $category := .LinkTitle }}
                      {{ $categoryurl := .RelPermalink }}            
                      {{ range .RegularPages.ByWeight }}

                        {{$sizes := slice}}
                        {{range .Params.prices}}
                          {{if not (in $sizes .size)}}
                            {{$sizes = $sizes | append .size}}
                          {{end}}
                        {{end}}

                        {{$flavours := slice}}
                        {{range .Params.prices}}
                          {{if not (in $flavours .flavour)}}
                            {{$flavours = $flavours | append .flavour}}
                          {{end}}
                        {{end}}
     
                        <tr class="item" 
                            data-item-url="{{ .RelPermalink }}"
                            onclick="openItem(this, '{{ .RelPermalink }}');">
                            <td>
                              <h3 class="title">{{ .LinkTitle }}</h3>
                              {{ .Summary }}
                              <ul class="sizes">
                                {{ range $index, $currentItem := $sizes }}
                                  {{ if not (or (eq $currentItem "-") (eq $currentItem "None")) }}
                                    <li>
                                      {{ $currentItem }}
                                    </li>
                                  {{ end }}
                                {{ end }}
                              </ul>
                              <ul class="flavours">
                                {{ range $index, $currentItem := $flavours }}
                                  {{ if not (or (eq $currentItem "-") (eq $currentItem "None")) }}
                                    <li>
                                      {{ $currentItem }}
                                    </li>
                                  {{ end }}
                                {{ end }}
                              </ul> 
                            </td>
                            <th>
                              {{$counter := 0}}
                              {{$number := slice}}
                              {{$total := 0}}
                              {{range .Params.prices}}
                                {{$counter = add $counter 1}}
                                {{$number = $number | append .price}}
                                {{$total = add $total .price}}
                              {{end}} 
                              {{$number := sort $number}}
                              {{ if eq (index $number 0) (index $number (sub $counter 1)) }}
                                ${{index $number (sub $counter 1)}}
                              {{else }}
                                ${{index $number 0}} | ${{index $number (sub $counter 1)}}      
                              {{ end }}                       
                            </th>
                        </tr>
                        
                      {{ end }}
                    </tbody>
                  </table> 
                </div>
              </div>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  </div>
  
{{ end }}
