{{ define "main" }}
  

  <!--{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time-->
  {{if not (eq .Section ("advertisments")) }}
    <table class="singlepagemenu {{ .Section }}">
      <tbody>
        {{ $category :=  .Section  }}
        {{ $categoryurl := .Parent.Permalink }}            
        {{$sizes := slice}}
        {{range .Params.prices}}
          {{if not (in $sizes .size)}}
            {{$sizes = $sizes | append .size}}
          {{end}}
        {{end}}

        {{$flavours := slice}}
        {{range .Params.prices}}
          {{if not (in $flavours .flavour)}}
            {{$flavours = $flavours | append .flavour}}
          {{end}}
        {{end}}
        
        <tr class="item" 
            data-item-url="{{ .RelPermalink }}"
            onclick="openItem(this, '{{ .RelPermalink }}');">
            <td>
              {{if .Params.images }}
              <div class="singlepageimages">
                {{range .Params.images }}
                <img id="singlepageimage" src="/{{ .image }}" alt="{{ $.Title }}" loading="lazy">
                {{ end }}
              </div>
              {{ else }}
                <img id="singlepageimage" src="/branding/favicon-400x200.webp" alt="{{ .Title }}" loading="lazy">  
              {{ end }}  
              <h1>{{ .Title }}</h1>
              {{ .Content }}
              {{$allprices := .Params.prices}}
              {{ range $index, $currentItem := $sizes }}
                <br>
                {{ $currentItem }}
                <ul class="prices">
                  {{ range $allprices }}
                    {{ if eq $currentItem .size }}
                      <li>
                        {{ .flavour }} <b>${{ .price }}</b>
                      </li>
                    {{ end }}
                  {{ end }}
                </ul>
              {{ end }}                        
          </td>
        </tr>
      </tbody>
    </table>
  {{ else }}
    <div class="singlepagemenu {{ .Section }}">
      {{ if gt (len .Params.images) 0 }}
        <a href="{{ .Params.link }}" class="singlepageimages">
          {{ range .Params.images }}
            <img src="/{{ .image }}" alt="{{ $.Title }}" loading="lazy">
          {{ end }}
        </a>
      {{ else }}
        <img id="singlepageimage" src="/branding/favicon-400x200.webp" alt="{{ .Title }}" loading="lazy">  
      {{ end }}  
      <h1>{{ .Title }}</h1>
      {{ range .Params.youtube }}
        <iframe style="margin-inline: auto;display: block;" width="315" height="560" 
            src="{{ .url }}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
        </iframe>
      {{ end }}
      {{ .Content }}
    </div>
  {{ end }}
  {{ partial "utilities/terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ partial "utilities/terms.html" (dict "taxonomy" "ingredients" "page" .) }}
  {{ partial "utilities/terms.html" (dict "taxonomy" "cookingmethods" "page" .) }}
  {{ partial "utilities/terms.html" (dict "taxonomy" "types" "page" .) }}
  {{ partial "utilities/terms.html" (dict "taxonomy" "events" "page" .) }}
  
  {{ partial "socialmedia/social-share-all.html" . }}
{{ end }}
