html{
    scroll-behavior: smooth;
}
.logo-container{
    min-width: 4em !important;
}
.slideinimg {
    right: 0;
    bottom: -50%;
    position: absolute;
    height: 100px;
}
.taxonomy ul{
    display: flex;
    flex-wrap: wrap;
}
.taxonomy ul li{
    padding-inline: .4em;
    font-size: larger;
}
.taxonomy ul li a{
    text-wrap-mode: nowrap;
}
.main-header {
    background-color: var(--header-color);
    border-bottom: 1px solid var(--header-bordercolor-1);
}
.main-header .container{
  max-width: 2560px;
  margin: 0 auto;
  overflow: hidden;
}
.main-header ul{
    display: flex;
  overflow: scroll;
  overflow-y: hidden;
}
.main-header ul::-webkit-scrollbar {
}
/* Hide scrollbar for IE, Edge and Firefox */
.main-header ul {
    /* IE and Edge */
    /* Firefox */
}
.main-header #logo {
    min-width: 4em;
    min-height: 4em;
}.main-header .logo {
    width: 4em;
    height: 4em;
    border-right: 1px solid var(--header-bordercolor-1);
    border-left: 1px solid var(--header-bordercolor-1);
}
.main-header .icon {
    width: 2.4em;
    padding-inline: 14px;
    padding-block-start: 7px;
}

.main-header .container {
    max-width: 2560px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.main-header ul {
    display: flex;
    overflow: scroll;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#menublock li {
    border-right: 1px solid var(--header-bordercolor-2);
}
#menublock span {
    color: #fff;
    font-size: xx-small;
    font-variant: all-petite-caps;
    text-align: center;
    display: block;
    width: -webkit-fill-available;
}.main-header ul::-webkit-scrollbar {
    height: .2em !important;
}
*::-webkit-scrollbar,#menufeaturedimages::-webkit-scrollbar,.location-images::-webkit-scrollbar,.apps::-webkit-scrollbar {
    width: .4em;
    height: .4em
}

*::-webkit-scrollbar-track,#menufeaturedimages::-webkit-scrollbar-track,.location-images::-webkit-scrollbar-track,.apps::-webkit-scrollbar-track {
    background: 0 0
}

*::-webkit-scrollbar-thumb,#menufeaturedimages::-webkit-scrollbar-thumb,.location-images::-webkit-scrollbar-thumb,.apps::-webkit-scrollbar-thumb {
    background: #000
}
.hide, .is-hidden  {
    display: none !important;
    width: 0px;
    height: 0px;
}
.select{
    transform: translate3d(0px, -2px, 10px) !important;
    padding: .4em 0.8em !important;
    background: linear-gradient(#0dc143, #003506) !important;
    box-shadow: 0px 0px 10px var(--selected-button-color3);
    color: var(--selected-text-color1) !important;
}.selected {
    transform: translate3d(0px, -2px, 10px) !important;
    padding: 0.8em !important;
    background: linear-gradient(var(--selected-button-color1), var(--selected-button-color2)) !important;
    box-shadow: 0px 0px 10px var(--selected-button-color3);
    color: var(--selected-text-color1) !important;
}
.contactinfo{
    display: block;
    padding: 0.4em 0.4em 2.4em;
    background: linear-gradient(var(--hero-bg-color),var(--hero-bg-color),var(--hero-bg-color),var(--hero-bg-color),var(--hero-bg-color),transparent);
    z-index: 1;
    position: relative;
}.contactinfo .locations{
    display: block;
    font-size: x-small;
}
.contactinfo .locations .all{
    width: 100vw; 
    display: flex;
}
.installBtn{
    margin: auto !important;
    width: fit-content !important;
    padding-inline: 1.2em !important;
}
.contactinfo .social {
    padding-inline: 1.2em !important;
    padding-block: .8em !important;!i;!;
}
.contactinfo .locbtn{
    width: 98% !important;
}
.onesignal-customlink-container {
    min-height: fit-content !important;
}.onesignal-customlink-container button{
    font-size: x-small !important;
}.flickity-button {
    display: none;
}.flickity-page-dots {
    position: initial !important;
}.flickity-page-dots .dot {
    background: #fff !important;
    box-shadow: 0px 0px 2px black !important;
}
.contactinfo .btn {
    text-decoration: none;
    padding-block: 0.4em;
    display: block;
    text-align: center;
    margin-inline: .4em;
    border: 1px solid #ffffffaa;
    border-radius: 5em;
    max-width: 500px;
    width: -webkit-fill-available;
    scroll-snap-align: start;
    color: #ffffff;
    background: linear-gradient(#000000aa, #00000055);
    align-items: center;
    align-content: center;
}
.contactinfo ul{
   padding: 0;
   list-style: none;
   margin: auto;
   width: -webkit-fill-available;
   max-width: 480px;
}
.contactinfo ul li{
   margin-block: .4em;
}
.contactinfo i {
    padding: 5px;
    margin: auto 0;
}
.subbtn {
    display: flex;
    max-height: -webkit-fill-available;
    height: 2.4em;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-block: auto;
}
.subbtn img{
    margin-inline: 0em;
    margin-block: auto;
}
.contactinfo .btn img{
    max-width: 28px;
    margin: auto;
}
.socialmedia {
    display: flex;
    overflow-x: scroll;
    justify-content: space-around;
}
.contact {
    display: flex;
    flex-wrap: nowrap;
}
.subscribe{
    display: flex;
    flex-wrap: nowrap;
}
@media (min-width:300px) {
    .socialmedia {
        overflow-x: initial;
    }
}
@media (min-width:400px) {
    .contactinfo .social {
        padding-inline: 1.2em !important;
    }
}

.main-body {
    column-count: 1;
    margin-block-start: 4em;
    margin-inline: .4em;
}
@media (min-width:600px)  { 
  .main-body{
    column-count: 2;
  }
  .menu-anchor{
    position: sticky !important;
  }
}
@media (min-width:900px) {  
  .main-body{
    column-count: 3;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */}
@media (min-width:1440px) {   
  .main-body{
    column-count: 4;
  }
}
.menu-header{
  display: block;
  position: relative;
}
.menu-anchor{
  display: block;
  position: relative;
  top: -4.3em;
  visibility: hidden;
}
.main-menu {
    width: -webkit-fill-available;
    margin-inline: auto;
    max-width: 480px;
    overflow: hidden;
    position: relative;
    margin-block-start: 0;
    margin-block-end: .8em;
    border-radius: .4em;
    background: linear-gradient( var(--menu-bg-color-1), var(--menu-bg-color-2));
}.menu {
    margin: 0;
    font-family: arial, sans-serif;
    padding: 0 .4em;
    width: -webkit-fill-available;
    font-size: large;
}
.menu h2{
    margin: 0;
}
.menu tr td{
    width: -webkit-fill-available;
    margin-inline: 0 auto;
    font-size: medium;
    pointer-events: none;
}

.menu tr th{
  margin: auto 0;
  padding: 0.2em;
  font-size: smaller;
  text-align: end;
  text-wrap-mode: nowrap;
  justify-content: end;
  display: flex;
  pointer-events: none;
}
.menu .sizes, .menu .flavours{
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 5px;
    left: -5px;
    position: relative;
}
.menu .sizes li, .menu .flavours li{
    padding-inline: 5px;
    font-size: x-small;
}
.menu .sizes li:not(:last-child), .menu .flavours li:not(:last-child){
    border-right: 1px solid var(--button-text-color1);
}
.menu .selected .sizes li:not(:last-child), .menu .selected .flavours li:not(:last-child) {
    border-right: 1px solid var(--selected-text-color1);
}
.menu .item p{
    font-size: xx-small; 
    margin-block-end: 5px;
}

.menu tr {
    transform-style: preserve-3d;
    font-size: large;
    border: 1px solid #000000aa;
    border-radius: 0.4em;
    border: 1px solid #ffffffaa;
    background: linear-gradient(var(--button-color1), var(--button-color2));
    color: var(--button-text-color1);
    font-family: sans-serif;
    display: flex;
    padding: 0.4em;
    margin-block-end: .8em;
    transition: 0.15s;
    width: 90% !important;
    margin-inline: auto !important;
}
.headerstyle {
    background-image: url(/images/headerbg.webp);
    background-size: 96% 86%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}#orderModal{
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    height: 100%;
    z-index: 111;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-family: sans-serif;
    transition: 0.15s;
}
#itemSideControl,
#itemModControl,
#itemAdditionControl{
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    height: 100vh;
    z-index: 222;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-family: sans-serif;
}
#itemSideControl h3,
#itemModControl h3,
#itemAdditionControl h3{
    padding-inline: .4em;
}
#itemSideContainer, 
#itemModContainer, 
#itemAddContainer{
    margin: .8em .8em 0;
}
#itemAmtcontrol, 
#itemSizeControl, 
#itemFlavourControl {
    width: -webkit-fill-available;
    display: flex;
    margin: 0.4em .8em;
    justify-content: center;
}
#itemAmtcontrol a {
    font-size: xx-large;
    color: #fff;
    text-align: center;
    margin: 0.4em;
    display: block;
}
#itemSideControl button, #itemModControl button, #itemAdditionControl button {
    width: -webkit-fill-available;
    padding: 0.4em;
    font-size: xx-large;
    margin-inline: 0.4em;
    position: sticky;
}
#orderModal .container, 
#itemSideControl .container, 
#itemModControl .container, 
#itemAdditionControl .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#wamodal, #itemSides, #itemMods, #itemAddMods {
    background: linear-gradient(var(--selected-button-color4), var(--selected-button-color2));
    margin: 1.2em auto auto;
    width: 90dvw;
    max-height: calc(100vh - 8em);
    min-height: calc(100vh - 12em);
    max-width: 400px;
    height: min-content;
    position: relative;
    opacity: 1;
    border: 1px solid #fff;
    box-shadow: 0 0 10px  var(--selected-button-color3)  !important;
    scrollbar-color: black;
    padding-block: 1em;
    border-radius: 0.4em;
    overflow: hidden;
    transform-style: preserve-3d;
    display: flex;
    color: var(--selected-text-color1);
    flex-direction: column;
    justify-content: space-between;
}
@supports (-webkit-touch-callout: none) {
    #wamodal, #itemSides, #itemMods, #itemAddMods {
        max-height: calc(85vh - 7.3em);
    }
}
#wamodal{
    overflow-y: scroll;
    display: block;
}
#wamodal .header, 
.modal .header{
    display: flex;
    text-align: center;
    max-height: 3.2em;
    position: sticky;
    top: 0;
    z-index: 111;
    margin-inline: .8em;
    margin-block: 0;
}#wamodal .header img, 
.modal .header img{
    width: 1.6em;
    height: 1.6em;
    position: relative;
}
#itemAddCart{
    padding: 0.4em;
    font-size: xx-large;
    width: -webkit-fill-available;
    position: sticky;
    bottom: 0;
    z-index: 1100;
    margin-inline: 0.4em;
    transition: 2s;
}
#orderModal .image {
    max-height: 200px;
    min-width: -webkit-fill-available;
    overflow: hidden;
}
#orderModal .image img {
    max-height: 200px;
    min-width: -webkit-fill-available;
    max-width: -webkit-fill-available;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
}#orderModal h3{
    margin: 0;
    width: -webkit-fill-available;
}

#itemSizeControl, #itemFlavourControl{
    flex-wrap: wrap;
}
#itemAmtcontrol, #itemSizeControl, #itemFlavourControl{
    width: -webkit-fill-available;
    display: flex;
    margin: 0.4em .8em;
    justify-content: center;
}
#itemSizeControl a, #itemFlavourControl a, #itemSideControl a, #itemAdditionControl a, #itemModControl a {
    font-size: medium;
    color: #fff;
    text-align: center;
    background: #000;
    border: 1px solid #ffffffaa;
    border-radius: 0.4em;
    margin: 0.4em;
    padding: 0.4em;
    display: block;
    transition: 0.25s;
    position: relative;
    box-shadow: 1px solid #fff;
    transition: 0.5s;
    height: min-content;
}
#itemSideControl a, #itemAdditionControl a, #itemModControl a {
    width: -webkit-fill-available;
}
#itemModControl b{
    position: absolute;
    right: 0;
    margin-top: -36px;
    rotate: 25deg;
    background: #000;
    padding: 0.4em;
    color: #fff;
    z-index: 1000;
    font-size: small;
}
#itemSideControl b{
    color: #fff;
    position: absolute;
    left: 5px;
    font-size: x-large;
    rotate: -25deg;
    background: #000;
    padding: 0 0.4em;
    margin-top: -2px;
    z-index: 1000;
    
}
#itemSideControl p{
    position: absolute;
    color: #fff;
    font-size: xx-large;
    right: 2%;
    margin-top: -45px;
    padding: 0;
    
}
#itemSizeContainer .title,
#itemFlavourContainer .title,
#itemSideContainer .title,
#itemAddContainer .title,
#itemModContainer .title{
    display: block;
    padding: 0.4em ;
    color: #fff;
    background: #000000;
    border: 1px solid #ffffffaa;
    position: sticky;
    font-size: large;
    top: 1px;
    z-index: 111;
    border-radius: 0.4em;
}

#itemAmtcontrol a{
    font-size: xx-large;
  color: #fff;
  text-align: center;
  margin: 0.4em;
    display: block;
  
}
#orderModal #itemDesc {
    overflow: scroll;
    overflow-x: hidden;
    margin-inline: .8em;
    font-size: small;
    text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
}
#orderModal #itemName{
    position: sticky;
    top: 1.2em;
    text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000,1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000;
    z-index: 11;
}
#orderModal #itemPrice {
    color: #FFF;
    margin: auto;
    font-size: xx-large;
    text-align: right;
    width: -webkit-fill-available;
}
#orderModal #itemCategory{
    text-shadow: 0px 1px 1px #000, 0px -1px 1px #000, 1px 0px 1px #000, -1px 0px 1px #000,1px 1px 1px #000, -1px -1px 1px #000,1px -1px 1px #000, -1px 1px 1px #000;
    color: var(--selected-text-color1);
    text-transform: capitalize;
}
#menublock span {
    color: var(--header-text-color) !important;
    font-size: xx-small;
    font-variant: all-petite-caps;
    text-align: center;
    display: block;
    width: -webkit-fill-available;
}
#dashboardBtn{
    box-shadow: 0px 2px 5px #111111;
    background: linear-gradient(#d73301ee, #800000ee);
}
#dashboard *{
    color: #000000;
}
#dashboard {
    background: #fefefefb;
    height: 100vh;
    width: 75vw;
    max-width: 500px;
    position: fixed;
    transition: .26s;
    z-index: 2;
    color: #000000;
    box-shadow: 0px 2px 5px #111111;
}
#dashboard ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#dashboard .header{
    height: 4em;
    background: linear-gradient(#d73301ee, #800000ee);
    display: flex;
}
#dashboard .header a{
    display: flex;
}
#dashboard li {
    height: 2em;
    padding: .4em .8em;
    align-content: center;
    display: flex;
    align-items: center;
    margin: .4em;
    background: #11111111;
    border-radius: .4em;
    box-shadow: -1px -1px 1px #11111111, 1px 1px 1px #11111155;
}
#dashboard li b{
    margin-inline-start: .4em;
}
#dashboard .dashboardfooter{
    display: flex;
    justify-content: space-around;
}
#dashboard .dashboardfooter .container{
    display: flex;
    flex-direction: column;
}
#subTotalcontainer {
    border-top: 1px solid;
    border-bottom: 2px solid #ffffff19
}

#subTotalcontainer,#vatCalccontainer,#serviceCalccontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end
}

#ad-slot-top,#ad-slot-footer {
    background: linear-gradient(transparent, #0ff5);
    min-height: 256px;
    text-align: center
}

.Advertisments .listpageimages,.Advertisments .container {
    max-height: initial!important
}

.Advertisments img {
    min-width: 100%!important
}

.advertisments h1 {
    text-align: center
}

.advertisments .singlepageimages img {
    height: auto!important;
    max-width: 480px!important;
    margin-inline: auto;
}

.Advertisments .container,.listpageimages {
    display: flex;
    min-width: -webkit-fill-available;
    overflow-x: scroll;
    overflow-y: hidden
}

.listpageimages {
    max-height: 200px
}

#adcount {
    position: absolute;
    background: #16ac;
    border-radius: 5em;
    padding: .4em .8em;
    text-decoration: none;
    top: -.8em;
    margin-left: .4em;
    font-size: .6em;
    transition: .1s ease-out
}

.logo {
    max-width: -webkit-fill-available
}

#ttmsmodal .close {
    position: absolute;
    top: .8em;
    right: .8em
}

#ttmsmodal .title {
    margin-block:0}

#itemImages,.singlepageimages {
    display: flex;
    overflow-x: scroll!important
}

.singlepageimages img {
    flex: 1;
    height: 256px;
    width: 100%;
    object-fit: cover
}

.singlepagemenu td {
    align-content: start
}

.contactinfobg {
    background: var(--contact-info-bg);
    z-index: 1;
    position: relative
}

.hero-content,.main-content {
    background: linear-gradient(var(--menu-bg-color-1),var(--menu-bg-color-2));
    border-radius: .4em
}

.main-header .container {
    max-width: 2560px;
    max-height: calc(4em - 1px);
    margin: 0 auto;
    overflow: hidden
}

.main-header ul li a {
    display: flex;
    flex-direction: column
}

.hide-search {
    opacity: 0;
    transform: translate(100vw,0)!important;
    pointer-events: none
}

.Advertisments {
    margin-block-end:4.3em;text-align: center
}

#askforserver {
    position: absolute;
    right: .5em;
    z-index: 1;
    max-width: 3em
}
#askforserver svg{
    fill: #ffffff;
}
#askforserver img {
    max-width: 2.2em
}

.header h3 {
    margin: 0;
    width: -webkit-fill-available
}

.confirm {
    text-align: center
}

#btn_install1 {
    font-size: x-small;
    text-wrap-mode: nowrap
}

#tableNumberModal {
    background: #000e;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    height: 100vh;
    z-index: 12;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    font-family: sans-serif;
    color: var(--selected-text-color1)
}

.modal {
    margin: 50px auto auto;
    padding: .5em;
    width: 85vw;
    max-width: 420px;
    max-height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 10px #fff;
    scroll-behavior: smooth;
    background: linear-gradient(var(--selected-button-color4),var(--selected-button-color2));
    margin: 1em auto auto
}

.modal h2,.modal .container a {
    text-align: center
}

.options {
    margin: auto;
    width: fit-content;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.modal .container div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 90%;
    align-items: center;
    justify-content: center
}

.modal .container a,.options a {
    padding: .5em 1em;
    margin: .125em;
    font-weight: bolder;
    background: #000;
    border: 1px solid;
    border-radius: .5em;
    transition: .25s;
    display: block;
    color: #fff
}

.modal .container a {
    font-size: small
}

#ttmenusModal {
    height: calc(100vh - 3.3em);
    background: #000c;
    transition: .13s
}

#ttmenusModal .container {
}

.cart-hidden {
    transform: scale(0)!important;
    pointer-events: none;
    height: 0!important
}

.order-hidden {
    transform: scale(0)!important;
    pointer-events: none
}

#whatsappOrder tr:nth-child(odd) {
    background-color: #ffffff19
}

#subTotal,#vatCalc,#serviceCalc {
    font-weight: 700;
    text-align: end;
    padding: 0 .8em;
    font-size: small;
    min-width: 4em
}

#itemTotal {
    font-size: x-large;
    font-weight: 700;
    text-align: end;
    padding: 0 .4em;
    border-bottom: 2px solid;
    border-top: 2px solid;
    background-color: #00000019
}

#whatsappOrderBtn {
    padding-inline:1em;padding-block:0}

#whatsappOrderBtn .placeOrder {
    padding: .4em;
    margin-block:.4em;color: #fff;
    display: grid;
    text-align: center;
    width: -webkit-fill-available;
    border-radius: 30px;
    background-color: #0dc143;
    font-size: large;
    font-weight: bolder;
    text-shadow: 0 0 5px #000
}

#singlepageimage {
    max-width: 100%;
    object-fit: cover;
    width: -webkit-fill-available
}

.singlepagemenu {
    width: 100%;
    background: linear-gradient(var(--button-color1),var(--button-color2));
    color: var(--button-text-color1)
}

.singlepagemenu .prices {
    display: flex;
    flex-wrap: wrap
}

.singlepagemenu .prices li {
    font-size: smaller;
    color: #fff;
    text-align: center;
    background: #000;
    border: 1px solid #fffa;
    border-radius: .25em;
    margin: .15em;
    padding: .25em .5em;
    display: block;
    transition: .25s;
    position: relative;
    box-shadow: 1px solid #fff;
    transition: .25s
}

.singlepagemenu .prices li b {
    font-size: larger
}

.listpageimage {
    max-height: 200px;
    object-fit: cover;
    min-width: -webkit-fill-available;
    margin: 0
}

#listimage {
    max-height: 200px;
    width: 100%;
    max-width: 100%;
    object-fit: cover
}

body .modal-open {
    overflow: hidden;
    position: fixed
}

a {
    color: var(--main-text-color)
}

html,body {
    overflow-x: hidden!important;
    width: -webkit-fill-available!important;
    margin: 0!important;
    padding: 0!important
}

h1,h3,h4,h5,h6 {
    margin-block:.4em .2em}

h2 {
    margin-block:.4em;padding-inline:.4em}

#orderModal h2,#orderModal h3 {
    margin-block:.4em;padding-inline:.4em;color: var(--selected-text-color1)
}

ul,p {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    main-text-color); font-family: sans-serif;
    line-height: 1.5;
    color: var(--main-text-color);
}

header {
    position: fixed;
    top: 0px;
    width: -webkit-fill-available;
    z-index: 1;
}

main {
    min-height: calc(100vh - 4em);
    padding-block-start: 4em; background: var(--main-bg);
    background-size: auto;
    background-position: top center;
}

main img {
    max-width: 80%;
    display: block;
}

.hero_logo_container {
    overflow: hidden;
    position: relative;
}

.logo_container {
    box-shadow: inset 0px -.4em 0.4em 0.4em var(--hero-bg-color);
    width: 110vw;
    left: -5vw;
    z-index: 1;
    position: relative;
}

#logo {
    display: block;
    z-index: 1;
    position: relative;
    margin-inline: auto;
}

#bg {
    position: absolute;
    z-index: 1;
    max-height: 512px;
    object-fit: cover;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
}

.menu-summary {
    margin: 0 .8em .8em;
}

.main-menu .food {
    max-height: 200px;
    object-fit: cover;
    min-height: auto;
    min-width: -webkit-fill-available;
}

#main p {
    margin-inline: .8em; }

main p:nth-child(3) img:nth-child(2) {
    display: block;
    margin: auto;
}

main p:nth-child(3) a img, main p:nth-child(4) a img {
    max-width: 32px !important;
}

footer {
    position: fixed;
    bottom: 0px;
    width: -webkit-fill-available;
    z-index: 2 ;
}

@media (min-width: 300px) {
    .singlepageimages img {
        height: 256px
    }
}

@media(min-width: 500px) {
    #singlepageimage {
        max-width:50vw;
        object-fit: cover;
        width: 100%;
        margin: 0;
        margin-inline-end:.8em;float: left
    }
}

@media(min-width: 961px) {
    #singlepageimage {
        max-width:440px
    }

    .listpagemenu tbody {
        display: flex;
        flex-wrap: wrap
    }

    .listpagemenu tr {
        padding: .4em;
        margin-block-end:.8em;transition: .15s;
        min-width: 28%;
        max-width: 28%;
        margin-inline:.4em}
}

@media(min-width: 1025px) {
}

@media(min-width: 1281px) {
}

@media(min-width: 1440px) {
}
