<div class="contactinfobg">
	<div class="contactinfo item">
		<ul>
			{{ if .Params.locations }}
			<li class="locations">
				{{ range .Params.locations }}
		          <a href="https://ttms-app.netlify.app/?lat={{ .lat }}&lng={{ .lon }}&zoom=16&client={{ $.Title | urlize }}" class="locbtn btn"  target="_blank">
		            <img src="https://ct.ttmenus.com/icons/utilities/location.svg" alt="Location">
		            {{ .address }}
		          </a>
												<a href="{{ .fooddrop }}" class="locbtn btn"  target="_blank">
		            <img src="https://ct.ttmenus.com/icons/utilities/fooddrop.webp" alt="Location">
		          </a>
		        {{ end }}
			</li>
			{{ end }}
			<li class="socialmedia">
				{{ if .Params.facebook }}
					<a href="{{ .Params.facebook }}" class="social btn" target="_blank"><img src="https://ct.ttmenus.com/icons/socialmedia/fb.svg" alt="Facebook"></a>
				{{ end }}
				{{ if .Params.instagram }}
					<a href="{{ .Params.instagram }}" target="_blank" class="social btn"><img src="https://ct.ttmenus.com/icons/socialmedia/ig.svg" alt="Instagram"></a>
				{{ end }}
				{{ if .Params.youtube }}
					<a href="{{ .Params.youtube }}" target="_blank" class="social btn"><img src="https://ct.ttmenus.com/icons/socialmedia/yt.svg" alt="Youtube"></a>
				{{ end }}
				{{ if .Params.tiktok }}
					<a href="{{ .Params.tiktok }}" target="_blank" class="social btn"><img src="https://ct.ttmenus.com/icons/socialmedia/tk.svg" alt="TikTok"></a>
				{{ end }}
			</li>
			<li class="contact">
				{{ if .Params.whatsapp }}
					<a href="https://wa.me/{{ .Params.whatsapp }}" class="social btn"><img src="https://ct.ttmenus.com/icons/socialmedia/whatsapp.svg" alt="Whatsapp"></a>
				{{ end }}
				{{ if .Params.phone }}
					<a href="tel:{{ .Params.phone }}" class="social btn"><img src="https://ct.ttmenus.com/icons/utilities/phone.svg" alt="Phone"></a>
				{{ end }}
			</li>
			<!-- APP FUNCTIONALITY BUTTON -->
			<li class="subscribe" >
				<a id="btn_SubInfo" class="social btn" onclick="expandAppMenu();">
					<img src="https://ct.ttmenus.com/icons/utilities/apple.svg" alt="Apple iOS">Install App
				</a>
				<a class="btn">
					<div class="subbtn"><img src="https://ct.ttmenus.com/icons/utilities/bell.svg" alt="Subscribe"><div class='onesignal-customlink-container'></div></div>
				</a>
				<a id="btn_install1" class="social btn installBtn hide" >
					<img src="https://ct.ttmenus.com/icons/utilities/install.svg" alt="Install">Install App
				</a>
			</li>
		</ul>
	
	{{ partial "apple_instructions.html" . }}
			
	</div><!-- END CONTACT SECTION -->
</div>		