<!-- HEADER -->
{{ $pagetitle:= .LinkTitle }}
<div class="main-header">
	<div class="container">
		{{ partialCached "ttms-dashboard/button.html" . }}
		<!-- MENU LOGO -->
		{{ if and (not .IsHome)}}
			<a href="/" onclick="closeCart();">
				<img class="logo center" src="/branding/favicon192.webp"></a>
			<!-- END MENU LOGO -->
		{{ else }}
			<a href="#" onclick="closeCart();">
				<img class="logo center" src="/branding/favicon192.webp"></a>
			<!-- END MENU LOGO -->
		{{ end }}
		{{ if and (not .IsHome)}}
			<ul id="menublock">
				{{ range site.Pages.ByWeight }}
					{{ if .RegularPages }}
						{{ if and (not .IsPage) (not .IsHome)}}
							{{ $title:= .LinkTitle }}
							{{ $titleurl := .RelPermalink }}  
							{{ if not (or (in $titleurl "tags") (in $titleurl "categories") (in $titleurl "ingredients")) }}
							<li class="item">
								{{ if eq $title $pagetitle }}
									<a href="#" >
								{{ else }}
									<a href="/{{ .LinkTitle }}" onclick="closeCart();"> 
								{{ end }}
									{{ range site.Data.menudata.menu }}
										{{ if eq .name $title }}
											<img class="icon center" src="{{ .icon }}">
										{{ end }}
									{{ end }}
									<span>{{ .LinkTitle }}</span>
								</a>
							</li>
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}
		{{ else }}
			<ul id="menublock">
				{{ range site.Pages.ByWeight }}
					{{ if .RegularPages }}
						{{ if and (not .IsPage) (not .IsHome) }}
							{{ $title:= .LinkTitle }}
							{{ $titleurl := .RelPermalink }}  
							{{ if not (or (in $titleurl "tags") (in $titleurl "categories") (in $titleurl "ingredients")) }}
							<li class="item">
								<a href="#{{ .LinkTitle }}" onclick="closeCart();">
									{{ range .Site.Data.menudata.menu }}
										{{ if eq .name $title }}
											<img class="icon center" src="{{ .icon }}">
										{{ end }}
									{{ end }}
									<span>{{ .LinkTitle }}</span>
								</a>
							</li>
							{{ end }}
						{{ end }}
					{{ end }}
				{{ end }}
				
		{{ end }}
				<li>
					<a onclick="toggleSearch();">
						<img class="icon center" src="https://ct.ttmenus.com/icons/utilities/search.svg">
						<span>search</span>
					</a>
				</li>
			</ul> 
		<!-- MENU ICONS FOR THE MENU SECTIONS -->
		
	</div><!-- END MENU ICONS FOR THE MENU SECTIONS -->
</div><!-- END HEADER CONTAINER-->
		