<div class="main-hero item" id="home">
	<div class="container">
		<!-- HERO IMAGE -->
		<div class="heroimg">
			<img class="" src="images/branding/favicon512.webp" data-aos="zoom-out" alt="bg">

			<!--OPEN SIGN-->
			<ul>
				<li class="openstatus center" data-aos="zoom-in" data-aos-anchor="#home">
						<a href="#openhours" id="opensign" class="locbtn btn open hide" onclick="playContact();" >Open</a>
						<a href="#openhours" id="closedsign" class="locbtn btn close hide" onclick="playContact();" >Closed</a>
				</li>
			</ul>
			<!-- End OPEN SIGN-->
			
		</div>
		
		<!-- HERO CONTECTINFO SHORT CODE-->
		
	</div>
</div><!-- END HERO SECTION -->