<script>
    function initOpeninghoursDisplay() {
      const days = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"];
      const today = days[new Date().getDay()];

      document.querySelectorAll("[data-opening-hours]").forEach(section => {
        const todayList = section.querySelector(".today-hours");
        const allItems = section.querySelectorAll(".all-hours li");

        allItems.forEach(li => {
          if (li.dataset.day === today) {
            todayList.appendChild(li.cloneNode(true));
          }
        });
      });

    }

function initDisplayNavBar() {
  const targets = document.querySelectorAll(".frontpageads");
  const fadeEl = document.getElementById("footerBtns");
  if (!targets.length || !fadeEl) {
    console.error("Missing target(s) or fadeEl");
    return;
  }

  let visibleCount = 0;

  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        visibleCount++;
      } else {
        visibleCount--;
      }

      // Clamp the value between 0 and number of targets
      visibleCount = Math.max(0, Math.min(visibleCount, targets.length));

      if (visibleCount > 0 ) {
        fadeEl.classList.remove("visible");
      } else {
        fadeEl.classList.add("visible");
      }
    });
  });

  targets.forEach(target => observer.observe(target));
}
</script>
